.cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vmax;
}

.card {
  position: relative;
  /* border: 1px solid red; */
  width: 32%;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.card--image {
  width: 100%;
  /* border: 1px solid darkblue; */
}

.card--stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vmax 0;
  /* border: 1px solid blue; */
}

.card--stats>span {
  box-sizing: border-box;
  padding: 0.3vmax;
}

.card .card--name {
  letter-spacing: -0.8px;
}

/* .zero {
  position: absolute;
  color: red;
  top: 40%;
  background-color: whitesmoke;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px;
  opacity: 0.5;
} */